# dependencies
node_modules/

# build output
dist/

# local env files
.env*.local

# typescript
*.tsbuildinfo

# macOS
.DS_Store

# husky-generated shim dir (recreated by the "prepare" script on install)
.husky/_
